.header__link {
  /* z-index: 1; */
  transition: opacity 0.15s ease-in;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .header__link {
    margin: 28px 0 0 27px;
  }
}

.header__link:hover {
  opacity: 0.6;
}
