.header {
  margin: 0 auto;
  min-height: 119px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 882px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 768px) {
  .header {
    min-height: 84px;
  }
}
